<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.gustavobarbosab.imovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="com.github.gustavobarbosab.imovies.HiltTestActivity"
            android:exported="false" />
    </application>
</manifest>